/*COULEURS ?
Rouge - #D8261A
Jaune - #F7D530
*/

.main-event {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cal {
  width: 25%;
  height: 350px;
  margin-top: 20px;
}

.incoming {
  width: 70%;
  list-style-type: none;
}

.Events {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
}

.Events p {
font-size: 2vh;
}

.newEvents {
  width: 80%;
  background-color: #221E22;
  color: #FFFFFF;
  margin: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.oldEvents {
  width: 80%;
  background-color: #221E22;
  color: #FFFFFF;
  margin: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.incoming img {
  width: 450px
}
