/*COULEURS ?
Rouge - #D8261A
Jaune - #F7D530
*/
.main-event {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.cal {
  width: 50%;
}

.cal-list {
  margin-top: 20px;
}

.event-list {
  list-style-type: none;
}

.butt1 {
  width: 225px;
  height: 20px;
  border-radius: 8px 0px 0px 8px;
  border: 1px black solid;
  padding: 3px 10px;
  margin-right: -2px;
}

.butt2 {
  width: 225px;
  height: 20px;
  border-radius: 0px 8px 8px 0px;
  border: 0.5px black solid;
  padding: 3px 10px;
  margin-left: -2px;
}


table {
  border: 1px solid #999;
  border-collapse: collapse;
  font-family: Georgia, Times, serif;
}
th {
  border: 1px solid #999;
  font-size: 70%;
  text-transform: uppercase;
}
td {
  border: 1px solid #999;
  height: 5em;
  width:5em;
  padding: 5px;
  vertical-align: top;
}
caption {
  font-size: 300%;
  /*font-style: italic;*/
}
.day {
  text-align: right;
}
.notes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  text-align: right;
  padding-left: 20px;
}
.birthday {
  background-color: #ECE;
}
.weekend {
  background-color: #F3F3F3;
}
