/*COULEURS ?
Rouge - #D8261A
Jaune - #F7D530
*/

body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

header {
  width: auto;
  display: flex;
}


/*NAAAVIGATION*/
/*NAAAVIGATION*/
/*NAAAVIGATION*/

nav {
  width: 100%;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  justify-content:flex-end;
}

.main-nav li:first-child {
}

.main-nav a {
  margin-right: 15px;
  border-radius: 5px;
  /*border: 1px #6C5A49 solid;*/
  background: #221E22;
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
  /*font-family: 'Rubik Mono One', sans-serif;*/
  /*font-family: cubano, sans-serif;*/
  font-size: 12px;
}

.logo {
  width: 290px;
  height: 80px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.P-1{
  /*border-width: 2px;*/
  border-radius: 10px;
  /*border-style: solid;*/
  /*border-color: #D8261A #D8261A;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #221E22;
  color: #F7D530;
}

.P-2{
  /*border-width: 2px;*/
  border-radius: 10px;
  /*border-style: solid;
  border-color: #D8261A #D8261A;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #221E22;
  color: #F7D530;
}

.P-3{
  /*border-width: 2px;*/
  border-radius: 10px;
  /*border-style: solid;
  border-color: #D8261A #D8261A;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #221E22;
  color: #F7D530;
}

.P-4{
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #D8261A #D8261A;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #221E22;
  color: #F7D530;
}

.P-5{
  bborder-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #D8261A #D8261A;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #221E22;
  color: #F7D530;
}

.h1{
  font-size: 27px;
  text-align: left;
}

.h2{
  font-size: 27px;
  text-align: left;
  margin-left: 10%;
}

.h3{
  font-size: 27px;
  text-align: left;
  margin-left: 10%
}

.h4{
  font-size: 27px;
  text-align: left;
  margin-left: 30%;
}

.h5{
  font-size: 27px;
  text-align: left;
  margin-left: 30%;
}

.contact {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  display: flow-root;
  color: #F7D530;
  background-color: #D8261A;
  font-size: 20px;
}
