/*COULEURS ?
Rouge - #D8261A
Jaune - #F7D530
*/

@font-face {
  font-family: Cubano-Regular;
  src: url("asset/fonts/Cubano/Cubano-Regular.otf") format("opentype");
}

body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

header {
  width: auto;
  display: flex;
  background-color: #1F211E;
  margin-bottom: 50px;
}

.jumbotron{
  margin-left:-10px;
  margin-top:-10px;
  height:100%;
  min-width:100%;
  display: flex;
}

.jumbotron img{
  height:100%;
  width:100%;
  max-width:100%;
}

/*NAAAVIGATION*/
/*NAAAVIGATION*/
/*NAAAVIGATION*/

nav {
  width: 100%;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  justify-content:flex-end;
}

.main-nav li:first-child {
}

.main-nav a {
  margin-right: 15px;
  color:  #FFFFFF;
  display: block;
  border-bottom: 2px solid #AA2E11;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family : Cubano-Regular;
}

.logo {
  width: 290px;
  height: 80px;
}

/* BASE BORDER IMAGE */
/* BASE BORDER IMAGE */
/* BASE BORDER IMAGE */

/*#borderimg {
border: 10px solid transparent;
padding: 15px;
-webkit-border-image: url(asset/img/fanions_base.png) 30 round;
-o-border-image: url(asset/img/fanions_base.png) 30 round;
border-image: url(asset/img/fanions_base.png) 30 round;
}*/


p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.P-1{
  /*border-width: 2px;*/
  /*border-radius: 10px;*/
  /*border-style: solid;*/
  /*border-color: #D8261A #D8261A;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*margin-left: 20px;
  margin-right: 20px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #221E22;
  color: #FFFFFF;
}

.P-2{
  /*border-width: 2px;*/
  /*border-radius: 10px;*/
  /*border-style: solid;
  border-color: #D8261A #D8261A;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*margin-left: 20px;
  margin-right: 20px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #221E22;
  color: #FFFFFF;
}

.P-3{
  /*border-width: 2px;*/
  /*border-radius: 10px;*/
  /*border-style: solid;
  border-color: #D8261A #D8261A;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*margin-left: 20px;
  margin-right: 20px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #221E22;
  color: #FFFFFF;
}

.P-4{
  border-width: 2px;
    /*border-radius: 10px;*/;
  border-style: solid;
  border-color: #D8261A #D8261A;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*margin-left: 20px;
  margin-right: 20px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #221E22;
  color: #FFFFFF;
}

.P-5{
  bborder-width: 2px;
  /*border-radius: 10px;*/
  border-style: solid;
  border-color: #D8261A #D8261A;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*margin-left: 20px;
  margin-right: 20px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #221E22;
  color: #FFFFFF;
}

.h1{
  font-size: 27px;
  text-align: left;
  font-family: Cubano-Regular;
}

.h2{
  font-size: 27px;
  text-align: left;
  margin-left: 10%;
  font-family: Cubano-Regular;
}

.h3{
  font-size: 27px;
  text-align: left;
  margin-left: 10%
  font-family: Cubano-Regular;
}


.contact {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  display: flow-root;
  color: #F7D530;
  background-color: #D8261A;
  font-size: 20px;
  font-family: Cubano-Regular;
}
